<h1>Hello Angular</h1>
<h2>What is Angular?</h2>
<pre>Angular is a development platform, built on TypeScript.

    As a platform, Angular includes:

    A component-based framework for building scalable web applications</pre>
<p>A collection of well-integrated libraries that cover a wide variety of features, including routing,forms
    management, client-server communication, and more
    A suite of developer tools to helpyou develop, build, test, and update your code
    With Angular, you're taking advantage of aplatform that can scale from single-developer projects to
    enterprise-level applications.Best of all, the Angular ecosystem consists of a diverse group of over 1.7
    million
    developers,library authors, and content creators.</p>
<img src="assets/image.jpg">
<h1>Why it is called angular?</h1>
<h3>Prior to its release, a Google employee by the name of Miško Hevery, was developing a side project. This side
    project was to help make building web applications easier for a couple internal projects he was working on. This
    side project later became known as AngularJS (Angular because of the <> in HTML).
</h3>
<h3>*how to install angular cli</h3>
<p>1.after node instaled open window command prompt<br>
    2.enter command as npm install -g &#64;Angular/cli<br>
   3. after create the project as command ng new projectname<br>
    4.project run in new
    terminal cmd as ng serve -o
</p>
<h1>Data bindings</h1>
<h4>there are 2 of bindings types<br>
1.one way bindings(html to ts)<br>
2.two way binding(html to ts )(ts to html)<br>
here they are directives<br>
*ng(model) </h4>
